<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../assest/css/normalize_css.css">
    <link rel="stylesheet" href="../assest/css/base.css">
    <link rel="stylesheet" href="../assest/css/main.css">
    <link rel="stylesheet" href="../assest/fonts/fontawesome-6.6.0/fontawesome-free-6.6.0-web/css/all.min.css">
</head>

<body>
    <!--footer-->
    <footer class="footer">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-3">
                    <div class="footer__container">
                        <div class="footer__title">Tuyển Sinh & Đào Tạo</div>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="" class="footer__link link-item">Thông tin tuyển sinh</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Đào tạođại học</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">đào tạo sau đại học</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">đào tạo thường xuyên</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">văn bản pháp quy</a></li>
                        </ul>
                    </div>
            
                </div>
                <div class="grid__column-3">
                    <div class="footer__container">
                        <div class="footer__title">Các Liên Kết Khác</div>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="" class="footer__link link-item">E-Learning</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Email</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Hệ thống thông tin sinh viên</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Hệ thống tác nghiệp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid__column-3">
                    <div class="footer__container">
                        <div class="footer__title">Kết Nối</div>
                        <ul class="footer__list">
                            <li class="footer__item"><i class="fa-brands fa-facebook footer__icon" ></i><a href="" class="footer__link link-item">Facebook</a></li>
                            <li class="footer__item"><i class="fa-brands fa-youtube footer__icon" ></i><a href="" class="footer__link link-item">Youtube</a></li>
                            <li class="footer__item"><i class="fa-brands fa-twitter footer__icon" ></i><a href="" class="footer__link link-item">Twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid__column-3">
                    <div class="footer__container">
                        <div class="footer__title">Lươt Truy Cập</div>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="" class="footer__link link-item">Tổng số lượt: 3.313.937</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Đang online: 30</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Webmaster: WebAmin@dut.udn.vn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid__row">
                <div class="footer__copyright">
                    © Bản quyền Trường Đại học Bách khoa - Đại học Đà Nẵng
                </div>
            </div>
        </div>
    </footer>
    <!--./End footer-->
</body>

</html>