<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dut.udn.vn/khoacntt</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assest/css/normalize_css.css">
    <link rel="stylesheet" href="../../assest/css/base.css">
    <link rel="stylesheet" href="../../assest/css/main.css">
    <link rel="stylesheet" href="../../assest/fonts/fontawesome-6.6.0/fontawesome-free-6.6.0-web/css/all.min.css">
</head>
<body>
    <!--Header-->
    <header class = "header ">
        <!--Top Header-->
        <div class="top-header--form3-header">
            <div class="grid top-header">
                <div class="top-header-Left">
                    <ul class="top-header__list">
                        <li class="top-header__item top-header__item--left min-font-size">Tin tức & Sự kiện</li>
                        <li class="top-header__item top-header__item--left min-font-size">Thông báo</li>
                        <li class="top-header__item top-header__item--left min-font-size">Văn bản</li>
                        <li class="top-header__item top-header__item--left min-font-size">Lịch tuần</li>
                        <li class="top-header__item top-header__item--left min-font-size">Danh bạ</li>
                        <li class="top-header__item top-header__item--last-left min-font-size">Liên hệ</li>
                    </ul>
                </div>
                <div class="top-header-right">
                    <ul class="top-header__list top-header--right">
                        <li class="top-header__item top-header__item--right" id="btn-khoa-pagehome"> 
                            <a href="#" class="btn--primary btn--size-S min-font-size">Khoa</a>
                            <!--drop down khoa-->
                            <div class="list-contaner" id ="dropDown-list-khoa-pagehome">
                                <ul class="list-option">
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Công nghệ Nhiệt - Điện lạnh</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Công nghệ thông tin</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Cơ khí</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Cơ khí giao thông</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Điện tử - Viễn thông</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Điện</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Hóa</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Kiến trúc</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Môi trường</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Quản lý dự án</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Xây dựng cầu đường</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Xây dựng công trình thủy</a>
                                    </li>
                                </ul>
                            </div>
                             <!--./ End drop down khoa-->
                        </li>
                        <li class="top-header__item top-header__item--right" id = "btn-phong-pagehome">
                            <a href="#" class=" btn--primary btn--size-S min-font-size">Phòng</a>
                            <!--drop down phong-->
                            <div class="list-contaner" id ="dropDown-list-phong-pagehome">
                                <ul class="list-option">
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Công tác sinh viên</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Cơ sở vật chất</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Đào tạo</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Kế hoạch - Tài chính</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Thảo thí & Đảm bảo chất lượng giáo dục</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Khoa học công nghệ & hợp tác quốc tế</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Tổ chức - Hành chính</a>
                                    </li>
                                    <li class="list-option__item">
                                        <a href="#" class="link-item link--Pagehome">Thanh tra - Pháp chế</a>
                                    </li>
                                </ul>
                            </div>
                            <!--./end drop down phong-->
                        </li>
                        <li class="top-header__item top-header__item--language">
                            <div class="header-item__flag"> <img src="../../assest/images/form3-HomePage/top-header-flag-vienam.png" alt="vienam flag" class="flag-vienammsese"> </div>
                            <div class="header-item__label">Vietnamese</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/. End Top Header-->

        <!--Body Header-->
        <div class="body-header grid">
            <div class="body-header--left">
                <img src="../../assest/images/form3-HomePage/logo-k_cntt.png" alt="Khoa CNTT" class="body-header__logoBrand">
            </div>
            <div class="body-header--right">
                <div class="body-header__search-container">
                    <input type="text" class=" body-header__serch" id = "search" placeholder="Tìm kiếm thông tin">
                    <label for= "search" class="body-header__search-label">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </div>
            </div>
        </div>
        <!--./ End Body Header-->
        <div class="bottom-header grid">
            <ul class="bottom-header__menubar">
                <li class="menubar__item">
                    <a href="#" class="item__option">Home</a>
                </li>
                <li class="menubar__item"id="menubar-gioithieu">
                    <a href="#" class="item__option">Giới Thiệu</a>
                    <div class="dropdown-container " id ="dropdown-container--form3">
                        <ul class="dropdown-list">
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Tầm nhìn và Sứ mạng</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Kế hoạch chiến lược phát triển </a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Giới thiệu chung </a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Cơ cấu tổ chức</a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Bộ môn Công nghệ phần mềm</a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Bộ môn Mạng và truyền thông</a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Bộ môn Hệ thống nhúng</a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Đội ngũ cán bộ</a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Cơ sở vật chất</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menubar__item">
                    <a href="#" class="item__option">Tuyển Sinh</a>
                </li>
                <li class="menubar__item" id="menubar--daotao">
                    <a href="#" class="item__option">Đào Tạo</a>
                    <div class="dropdown-container " id ="dropdown-container-menubar-daotao">
                        <ul class="dropdown-list">
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Mô hình đào tạo</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Đào tạo đại học</a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Đào tạo sau đại học</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menubar__item" id ="menubar-nghiencuu">
                    <a href="#" class="item__option">Nghiêng Cứu Khoa Học</a>
                    <div class="dropdown-container " id ="dropdown-container-menubar-nghiencuu">
                        <ul class="dropdown-list">
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Các hướng nghiên cứu</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Bài báo khoa học</a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">Công trình nghiên cứu</a></li>
                            <li class="dropdown-list__option"><a href="" class="link-item link-item--menubar-form3">lý lịch khoa học</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menubar__item" id="menubar-hoptac">
                    <a href="#" class="item__option">Hợp Tác</a>
                    <div class="dropdown-container " id ="dropdown-container-menubar-hoptac">
                        <ul class="dropdown-list">
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Hợp tác nhà trường</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Hợp tác doanh nghiệp</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menubar__item">
                    <a href="#" class="item__option" id ="menubar-sinhvien">Sinh Viên</a>
                    <div class="dropdown-container " id ="dropdown-container-menubar-sinhvien">
                        <ul class="dropdown-list">
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Sổ tay sinh viên</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Khảo sát việc làm</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Đoàn thanh niên</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Nhóm hy vọng</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menubar__item" id = "menubar-cuusinhvien">
                    <a href="#" class="item__option">Cựu Sinh Viên</a>
                    <div class="dropdown-container " id ="dropdown-container-menubar-cuusinhvien">
                        <ul class="dropdown-list">
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Danh sách cựu sinh viên đại học</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">Danh sách cựu sinh viên cao học</a></li>
                            <li class="dropdown-list__option"> <a href="" class="link-item link-item--menubar-form3">danh sách cựu sinh viên nghiên cứu sinh</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menubar__item">
                    <a href="#" class="item__option">Liên Hệ</a>
                </li>
            </ul>
            <div class="direction-bar"><a href="#" class="link-direction">Trang chủ</a></div>
        </div>
    </header>
    <!--./End Header-->

    <!--container-->
    <div class="homecontainer grid">
        <div class="slide-show">
            <div class="list-images">
                <img src="../../assest/images/form3-HomePage/Slider_KhoaCNTT_KN40namCB.jpg" alt="" class="image-slider-item">
                <img src="../../assest/images/form3-HomePage/Slider_KhoaCNTT_AUNQAKQ.jpg" alt="" class="image-slider-item">
            </div>
        </div>
    </div>
    <style>
        .slide-show {
            margin: 0 auto;
            width: 1200x;
            overflow: hidden;
        }
        .list-images {
            width: 1200x;
            display: flex;
            transition: growth ease-in 0.5s;
        }
        .image-slider-item {
            width: 100%;
            object-fit: contain;
        }
    </style>
    <script>
        const listImages = document.querySelector(".list-images")
        const imgs = document.getElementsByClassName("image-slider-item");
        let current = 0;
        let length = imgs.length
        setInterval(()=>{
            if (current == length -1) {
                current = 0 
                let width = imgs[0].offsetWidth
                listImages.style.transform = `translateX(0px)`
            } else {
            current ++
            let width = imgs[0].offsetWidth
            listImages.style.transform = `translateX(${width * -1*current}px)`
            }
        },4000)
    </script>
    <!--./end container-->
    <!--footer-->
    <footer class="footer">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-3">
                    <div class="footer__container">
                        <div class="footer__title">Tuyển Sinh & Đào Tạo</div>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="" class="footer__link link-item">Thông tin tuyển sinh</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Đào tạođại học</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">đào tạo sau đại học</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">đào tạo thường xuyên</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">văn bản pháp quy</a></li>
                        </ul>
                    </div>
            
                </div>
                <div class="grid__column-3">
                    <div class="footer__container">
                        <div class="footer__title">Các Liên Kết Khác</div>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="" class="footer__link link-item">E-Learning</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Email</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Hệ thống thông tin sinh viên</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Hệ thống tác nghiệp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid__column-3">
                    <div class="footer__container">
                        <div class="footer__title">Kết Nối</div>
                        <ul class="footer__list">
                            <li class="footer__item"><i class="fa-brands fa-facebook footer__icon" ></i><a href="" class="footer__link link-item">Facebook</a></li>
                            <li class="footer__item"><i class="fa-brands fa-youtube footer__icon" ></i><a href="" class="footer__link link-item">Youtube</a></li>
                            <li class="footer__item"><i class="fa-brands fa-twitter footer__icon" ></i><a href="" class="footer__link link-item">Twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid__column-3">
                    <div class="footer__container">
                        <div class="footer__title">Lươt Truy Cập</div>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="" class="footer__link link-item">Tổng số lượt: 3.313.937</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Đang online: 30</a></li>
                            <li class="footer__item"><a href="" class="footer__link link-item">Webmaster: WebAmin@dut.udn.vn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid__row">
                <div class="footer__copyright">
                    © Bản quyền Trường Đại học Bách khoa - Đại học Đà Nẵng
                </div>
            </div>
        </div>
    </footer>
    <!--./End footer-->

</body>
</html>